.auth-b {
    background-color: #8f1b1b; /* Red-700 color in Tailwind */
    color: #fff; /* White text color */
    border-radius: 0.75rem; /* Rounded corners */
    padding: 0.75rem; /* Padding of 0.75rem (12px) */
    text-transform: uppercase; /* Uppercase text */
  }

  .auth-b:hover {
    opacity: 0.9; /* Opacity on hover */
    cursor: pointer;
  }  